// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
    display: flex;

}

.categories-container {
    flex: 1;
    padding: 1rem;
    
}

.products-container {
    
    
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.product {
    
    display: block;
    border: 1px solid gray;
    padding: 1rem;
    margin: 0.5rem;
    max-width:11.5rem;
}
.short-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dashboard__products__control-buttons {
    display: inline-flex;
    justify-content: space-between;

    & > div {
      margin: 0.3rem; 
    }

}
